body{
	background-image: url(images/silverware.jpg);
	color:#404040;
	background-color:#FFFFFF;
	font-family:Georgia,Garamond,serif;
	font-size: 11pt;	
}
a{
	color: #A4A400;
}
.heading {
	color: #A4A400;
	background-color: #F0F0F0;
	font-family: "Lucida Sans Unicode", Helvetica,Arial,sans-serif;
	
}
h1{
	text-align: center;
	font-weight: bold;
	font-size:22pt;
}
h2{
	text-align:left;
	font-size: 18pt;
	
}
#micake{
	text-decoration:line-through;
}
blockquote{
	font-style: italic;
	text-indent: 10px;
	background-color: #FFFFA8;
}
ul{
	list-style-image:url(images/pie_icon.gif);
}
.ulmodif{
	margin: 0;
	padding: 0;
	list-style-type: none;
	list-style-image:none;
	text-align:left;
}
footer ul{
	list-style-type: none;
	list-style-image:none;
	font-family: monospace;	
	float: left;
	
	
}