*{
	font-family:Georgia,Garamond, "Times New Roman", serif;
	
}

h1{
	color: rgba(100,200,60,0.99);	
        font-size:2em;
	font-style:italic;
	font-weight:bold
}
h2{
	color: hsla(240,60%,70%,0.99);	
        font-size:1.2em;
	font-style:italic;
	font-weight:bold
}
strong {
	color:#ffaa44;	
        font-size:1.2em;
	font-style:italic;
	font-weight:bold
}
p,table {
	text-indent:15px;
	background-color:rgba(0,100,100,.1);	
}
a{
	font-style:italic;
	color:deeppink;
}
a:link{	
	text-decoration:none;
}

a:hover{
	text-decoration:underline;
}
p::first-letter{
	font-size:150%;
}

li~ul { 
        font-style:oblique;
	color:#5599FF;
}
.moinfo {	
        font-size:90%;
}